#leer {
	text-decoration: none;
}

.footer {
  background: url(wallp.png);
  padding: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.texto {
	font-family: 'Oswald', sans-serif;
}

.comienzo {
  margin-top: 50px;
}
